<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="dodasoft_instagram" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Instagram Graph API</label>
			<tab>dodasoft_tab</tab>
			<resource>DodaSoft_Instagram::config_dodasoft_instagram</resource>
			<group id="configuration" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>API configuration</label>
				<field id="enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enabled</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
                <field id="token" type="obscure" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>API Token</label>
                    <comment><![CDATA[<strong>Token for Instagram API with Instagram Login</strong><br /><a target="_blank" href="https://developers.facebook.com/docs/instagram-platform/instagram-api-with-instagram-login/create-a-meta-app-with-instagram">Click here to go to Meta Developers Documentation - How to create API Token</a><br />Requires an Instagram Business or Creator Account.]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry no-whitespace</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="username" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Instagram Username</label>
                    <comment>Add USERNAME part of your instagram profile url, used for generating image link. Example: https://www.instagram.com/USERNAME/</comment>
                    <validate>required-entry no-whitespace</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="carousel_height" type="text" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Carousel height</label>
                    <comment>In most of cases instagram images have different height, here you can specify fixed height in pixels for carousel images.</comment>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="download" type="select" sortOrder="100" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Download Instagram Images</label>
                    <comment>Instagram images will be downloaded to media folder, and converted to webp.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="img_width" type="text" sortOrder="110" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Image width</label>
                    <comment>In pixels</comment>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="enabled">1</field>
                        <field id="download">1</field>
                    </depends>
                </field>
			</group>
		</section>
	</system>
</config>
